@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    background: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content {
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3rem;
    max-width: 30%;
}

.container {
    display: flex;
    max-width: 40%;
}


.img  {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-height: 33rem;
}


.category {
    color:hsl(228, 12%, 48%);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.paragraph {
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
.prices {
    display: flex;
    gap: 10px;
    align-items: center;
}


.promo {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    font-family:  'Fraunces', serif;
}
.regular {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
   
}
.btn-add {
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px; 
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.title {
   font-family:  'Fraunces', serif;
}
.btn-add:hover {
    background-color: #27453a;
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        margin-top: 3rem;
    }

    .img  {
        width: 90%;
        margin: auto;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;     
    }
    
    .content {
        width: 90%;
        max-width: 90%;
        padding: 0;
        margin: 0 auto 3rem auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .category {
        margin-left: 1rem;
    }

    .title {
        margin: 0 1rem;
    }

    .paragraph {
        margin: 1rem;
    }

    .prices {
        margin: 1rem;
    }

    .btn-add {
        width: 90%;
        margin: 1rem;
    }
}